@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterTight-Thin.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterTight-Light.ttf);
    font-weight: 700;
    font-style: normal;
}

$pink: #e0469e;
$brightBlue: #2f3996;
$blue: #2a2e52;
$aqua: #00c5f6;
$purple: #5c3fa8;
$indigo: #302d72;
$darker: #1f194b;
$lavender: hsl(264, 38%, 74%);
$borderImg: linear-gradient(90deg, transparent, $purple, transparent) 1;
$borderImg2: linear-gradient(90deg, $indigo 20%, transparent) 1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
    background: $indigo;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    background-attachment: fixed;
    color: white;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
    color: $aqua;
}

.modalBox {
    @apply p-5 rounded-lg shadow-lg;
    width: 600px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: $blue;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    position: relative;
    &:focus-visible {
        outline: none;
    }
}

.overlayBox {
    background-color: rgba($darker, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.btn-close {
    @apply flex justify-center items-center rounded-md shadow-md;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 32px;
    width: 32px;
    background-color: $aqua;
}

form.inputWrap {
    @apply rounded-t-full overflow-hidden;
    border: 2px solid rgba($purple, 0.5);
    border-bottom: none;
    input {
        @apply pb-3 pt-4 px-8 text-white;
        background-color: rgba($darker, 0.5);
        transition: all 0.5s;
        &:focus-visible {
            outline: none;
        }
        &::placeholder {
            color: $aqua;
            opacity: 0.5;
        }
    }
    button {
        @apply text-white flex justify-center items-center;
        padding: 0.5rem 1rem;
        width: 57px;
        background-color: $blue;
        &:hover {
            background-color: $darker;
            color: $aqua;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgba($darker, 0.5) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.errorText {
    color: $aqua;
}

.spinner {
    @apply rounded-full border;
    border-width: 8px;
    border-color: $aqua;
    border-right-color: transparent;
    height: 25px;
    width: 25px;
    animation: rotation 2s infinite linear;
}

.deg {
    font-size: 50%;
    margin-top: -6%;
    display: block;
}

.leftBox {
    margin: 1rem;
    filter: drop-shadow(0 0 30px rgba($purple, 0.3));
    height: calc(100% - 2rem);
}

#current {
    .inner {
        background: rgba($darker, 0.5);
        background-image: linear-gradient(0deg, transparent 50%, $purple);
        border: 2px solid rgba($purple, 0.5);
        border-top: none;
        border-bottom: none;
    }

    
    .tempBox {
        text-shadow: 0 0 20px $darker, 0 0 15px $darker, 0 0 5px $darker;
        font-size: 8rem;
        height: 155px;
    }
    .iconBox {
        img {
            width: 100%;
            height: auto;
        }
    }

    .desc {
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        border-image: $borderImg;
    }
    .hiLo {
        .deg {
            font-size: 75%;
        }
    }
    .hi,
    .lo {
        @apply flex items-center;
    }
    .dateTime {
        color: rgba($aqua, 0.6);
        background: rgba($darker, 0.5);
        border: 2px solid rgba($purple, 0.5);
        border-top: none;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
