@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterTight-Thin.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterTight-Light.ttf);
    font-weight: 700;
    font-style: normal;
}

$pink: #e0469e;
$brightBlue: #2f3996;
$blue: #2a2e52;
$aqua: #00c5f6;
$purple: #5c3fa8;
$indigo: #302d72;
$darker: #1f194b;
$lavender: hsl(264, 38%, 74%);
$borderImg: linear-gradient(90deg, transparent, $purple, transparent) 1;
$borderImg2: linear-gradient(90deg, $indigo 20%, transparent) 1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
    background: $indigo;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
    color: $aqua;
}

.modalBox {
    @apply p-5 rounded-lg shadow-lg;
    width: 600px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: $blue;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    position: relative;
    &:focus-visible {
        outline: none;
    }
}

.overlayBox {
    background-color: rgba($darker, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.btn-close {
    @apply flex justify-center items-center rounded-md shadow-md;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 32px;
    width: 32px;
    background-color: $aqua;
}

.errorText {
    color: $aqua;
}

.spinner {
    @apply rounded-full border;
    border-width: 8px;
    border-color: $aqua;
    border-right-color: transparent;
    height: 25px;
    width: 25px;
    animation: rotation 2s infinite linear;
}

.deg {
    font-size: 50%;
    margin-top: -6%;
    display: block;
}

.fixedWrap {
    @apply h-screen fixed flex flex-col;
    width: 33vw;
}

#main {
    min-height: 100vh;
    .leftBox {
        @apply h-full;
        width: 38vw;
        filter: drop-shadow(0 0 30px rgba($purple, 0.3));
        position: relative;
    }

    .inputWrap {
        input {
            @apply pb-3 pt-4 px-8 text-white;
            // background-color: rgba($darker, 0.5);
            background-color: transparent;
            transition: all 0.5s;
            &:focus-visible {
                outline: none;
            }
            &::placeholder {
                color: $aqua;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: none;
            -webkit-text-fill-color: white;
            // -webkit-box-shadow: 0 0 0px 1000px rgba($darker, 0.5) inset;
            -webkit-box-shadow: 0 0 0px 1000px $indigo inset;
            transition: background-color 0s ease-in-out 0s;
        }

        button {
            @apply text-white flex justify-center items-center;
            padding: 0.5rem 1rem;
            width: 57px;
            border-radius: 0;
            transition: all 0.25s ease-in;
            background-color: rgba($darker, 0.25);
            &:hover {
                background-color: rgba($darker, 0.5);

                color: $aqua;
                transition: all 0.25s ease-out;
            }
        }
    }

    #current {
        .inner {
            @apply grow;
            background: rgba($darker, 0.5);
            background-image: linear-gradient(0deg, transparent 50%, $purple);
            border: 2px solid rgba($purple, 0.5);
            border-top: none;
            border-bottom: none;
        }
        .tempBox {
            text-shadow: 0 0 20px $darker, 0 0 15px $darker, 0 0 5px $darker;
            font-size: 8rem;
            height: 155px;
        }
        .iconBox {
            img {
                width: 100%;
                height: auto;
            }
        }
        .dateTime {
            // @apply text-xl mt-auto flex justify-between rounded-b-full px-8 pt-2 pb-5;
            @apply text-xl mt-auto flex justify-between p-5;
        }
        .desc {
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-image: $borderImg;
        }
        .hiLo {
            .deg {
                font-size: 75%;
            }
        }
        .hi,
        .lo {
            @apply flex items-center;
        }
        .dateTime {
            color: rgba($aqua, 0.6);
            background: rgba($darker, 0.5);
            border: 2px solid rgba($purple, 0.5);
            border-top: none;
        }
    }
    &.getZip {
        @apply h-screen;
        button {
            background-color: transparent;
        }
        .fixedWrap {
            @apply flex justify-center items-center w-full;
        }
        .inputWrap {
            @apply w-1/2;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-image: $borderImg;
            input {
                @apply py-4;
            }
        }
    }
}

.rightBox {
    margin-left: 33vw;
}

.dayBox {
    $trans: all 0.25s ease;
    @apply grow h-full;
    background: rgba($darker, 0.5);
    background-image: linear-gradient(30deg, transparent 50%, $purple);
    border-bottom: 2px solid rgba($purple, 0.5);
    transition: $trans;
    * {
        transition: $trans;
    }

    .top {
        @apply flex justify-between items-center p-2 relative h-full;
        img {
            @apply absolute h-full py-3;
            right: 1rem;
            top: 0;
            width: auto;
        }
        .date {
            @apply flex justify-start items-center gap-5;
        }
        .hiLo {
            .deg {
                font-size: 75%;
                margin-top: 2px;
            }
        }
        .tempBox {
            @apply flex flex-col;
            .temp {
                @apply flex;
            }
        }
    }
    &.full {
        .top {
            @apply p-5;
            .date {
                @apply flex-col gap-1;
            }
        }
    }
    &.open {
        @apply grow;
        .top {
            min-height: 80px;
            img {
                min-height: 100%;
            }
        }
        .hours {
            // @apply flex flex-col grow;
            opacity: 1;
            transition: opacity 0.25s ease 0.3s;
            table {
                @apply w-full block;
                tbody {
                    @apply w-full;
                }
            }
            .hour {
                // @apply py-3 px-5 grow flex items-center;
                
                border-top: 1px solid $purple;
                background-color: rgba($darker, 0.5);
                td {
                    @apply py-3 px-5;
                }
                img {
                    height: 50px;
                    width: auto;
                }
                .icon {
                    min-width: 90px;
                }
                .time {
                    min-width: 120px;
                }
                .temp {
                    @apply w-3/4;
                }
                .tempWrap {
                    @apply flex gap-5 h-full w-full justify-center;
                }
                .tempBox {
                    @apply flex gap-2;
                    p {
                        @apply flex gap-1;
                        .deg {
                            font-size: 75%;
                            margin-top: 2px;
                        }
                    }
                }
                .windBox {
                    min-width: 160px;
                }
                .wind {
                    @apply flex gap-2 justify-end items-center;
                    .arrowBox {
                        @apply h-fit;
                    }
                    .text {
                        @apply flex gap-3 justify-end;
                    }
                }
            }
        }
    }
    &:not(.full) {
        .top {
            @apply px-5;
            .date {
                min-width: 110px;
            }
            .tempBox {
                @apply flex-row gap-2;
            }
        }
    }
    &.closed {
        @apply shrink;
        .hours {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: height 0.25s ease 0.3s;
            table {
                // display: none;
                height: 0;
            }
        }
        .top {
            img {
                @apply py-1;
            }
        }
        &:hover {
            background: $aqua;
            transition: $trans;
            .date {
                h2 {
                    color: white;
                    transition: $trans;
                }
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
