@font-face {
  font-family: "Inter";
  src: url(../fonts/InterTight-Thin.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/InterTight-Light.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  background: #302d72;
  background-image: linear-gradient(#302d72, transparent 20%), linear-gradient(135deg, #302d72, transparent 45%), linear-gradient(225deg, #302d72, transparent 45%);
  background-attachment: fixed;
  color: white;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
  color: #00c5f6;
}

.modalBox {
  @apply p-5 rounded-lg shadow-lg;
  width: 600px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #2a2e52;
  background-image: linear-gradient(#302d72, transparent 20%), linear-gradient(135deg, #302d72, transparent 45%), linear-gradient(225deg, #302d72, transparent 45%);
  position: relative;
}
.modalBox:focus-visible {
  outline: none;
}

.overlayBox {
  background-color: rgba(31, 25, 75, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn-close {
  @apply flex justify-center items-center rounded-md shadow-md;
  position: absolute;
  top: -5px;
  right: -5px;
  height: 32px;
  width: 32px;
  background-color: #00c5f6;
}

form.inputWrap {
  @apply rounded-t-full overflow-hidden;
  border: 2px solid rgba(92, 63, 168, 0.5);
  border-bottom: none;
}
form.inputWrap input {
  @apply pb-3 pt-4 px-8 text-white;
  background-color: rgba(31, 25, 75, 0.5);
  transition: all 0.5s;
}
form.inputWrap input:focus-visible {
  outline: none;
}
form.inputWrap input::placeholder {
  color: #00c5f6;
  opacity: 0.5;
}
form.inputWrap button {
  @apply text-white flex justify-center items-center;
  padding: 0.5rem 1rem;
  width: 57px;
  background-color: #2a2e52;
}
form.inputWrap button:hover {
  background-color: #1f194b;
  color: #00c5f6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(31, 25, 75, 0.5) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.errorText {
  color: #00c5f6;
}

.spinner {
  @apply rounded-full border;
  border-width: 8px;
  border-color: #00c5f6;
  border-right-color: transparent;
  height: 25px;
  width: 25px;
  animation: rotation 2s infinite linear;
}

.deg {
  font-size: 50%;
  margin-top: -6%;
  display: block;
}

.leftBox {
  margin: 1rem;
  filter: drop-shadow(0 0 30px rgba(92, 63, 168, 0.3));
  height: calc(100% - 2rem);
}

#current .inner {
  background: rgba(31, 25, 75, 0.5);
  background-image: linear-gradient(0deg, transparent 50%, #5c3fa8);
  border: 2px solid rgba(92, 63, 168, 0.5);
  border-top: none;
  border-bottom: none;
}
#current .tempBox {
  text-shadow: 0 0 20px #1f194b, 0 0 15px #1f194b, 0 0 5px #1f194b;
  font-size: 8rem;
  height: 155px;
}
#current .iconBox img {
  width: 100%;
  height: auto;
}
#current .desc {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-image: linear-gradient(90deg, transparent, #5c3fa8, transparent) 1;
}
#current .hiLo .deg {
  font-size: 75%;
}
#current .hi,
#current .lo {
  @apply flex items-center;
}
#current .dateTime {
  color: rgba(0, 197, 246, 0.6);
  background: rgba(31, 25, 75, 0.5);
  border: 2px solid rgba(92, 63, 168, 0.5);
  border-top: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=style.css.map */
