$pink: #e0469e;
$brightBlue: #2f3996;
$blue: #2a2e52;
$aqua: #00c5f6;
$purple: #5c3fa8;
$indigo: #302d72;
$darker: #1f194b;
$lavender: hsl(264, 38%, 74%);
$borderImg: linear-gradient(90deg, transparent, $purple, transparent) 1;
$borderImg2: linear-gradient(90deg, $indigo 20%, transparent) 1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    background: $blue;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    background-attachment: fixed;
    color: white;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
    color: $aqua;
}

.modalBox {
    @apply p-5 rounded-lg shadow-lg;
    width: 600px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: $blue;
    background-image: linear-gradient($indigo, transparent 20%),
        linear-gradient(135deg, $indigo, transparent 45%),
        linear-gradient(225deg, $indigo, transparent 45%);
    position: relative;
    &:focus-visible {
        outline: none;
    }
}

.overlayBox {
    background-color: rgba($darker, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.btn-close {
    @apply flex justify-center items-center rounded-md shadow-md;
    position: absolute;
    top: -5px;
    right: -5px;
    height: 32px;
    width: 32px;
    background-color: $aqua;
}

form.inputWrap {
    @apply rounded-full overflow-hidden;
    border: 2px solid $aqua;
    input {
        @apply py-2 px-5 text-white;
        background-color: transparent;
        transition: all 0.5s;
        &:focus-visible {
            outline: none;
        }
        &::placeholder {
            color: $aqua;
            opacity: 0.5;
        }
    }
    button {
        @apply text-white;
        padding: 0.5rem 1rem;
        &:hover {
            background-color: $darker;
            color: $pink;
        }
    }
}

.errorText {
    color: $aqua;
}

.spinner {
    @apply rounded-full border;
    border-width: 8px;
    border-color: $aqua;
    border-right-color: transparent;
    height: 25px;
    width: 25px;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}